<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>[Profedex.API]Program,[Profedex.Infrastructure]Profedex.Infrastructure.Class1,[*]Profedex.Infrastructure.Migrations.*</Exclude>
          <ExcludeByFile>**/Migrations/**,**/obj/**,**/bin/**</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
